@charset "UTF-8";
@font-face {
  font-family: "Merriweather";
  src: url("./fonts/Merriweather-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: "Montserrat-Medium";
  src: url("./fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: "Montserrat-Regular";
  src: url("./fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("./fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }
h1 {
  font-size: 3.4375em;
  font-family: 'Merriweather';
  text-transform: uppercase; }

h2 {
  font-size: 2.25em;
  font-family: 'Merriweather';
  text-transform: uppercase;
  font-weight: 300; }

h3 {
  font-size: 1.75em;
  font-family: 'Merriweather';
  text-transform: uppercase; }

h4 {
  font-size: 1.125em;
  font-family: 'Montserrat-SemiBold'; }

button {
  font-family: 'Montserrat-Medium'; }

li, ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  cursor: pointer;
  color: #FFFFFF; }

.menu li {
  display: flex;
  justify-content: flex-start; }
.menu a:after {
  display: block;
  left: 0;
  /*изменить на right:0;, чтобы изменить направление подчёркивания */
  width: 0;
  /*задаём длинну линии до наведения курсора*/
  height: 1px;
  /*задаём ширину линии*/
  background-color: #FFFFFF;
  /*задаём цвет линии*/
  content: "";
  transition: 0.3s;
  /*задаём время анимации*/ }
.menu a:hover:after,
.menu a:focus:after {
  width: 100%;
  /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/ }
.menu a:hover {
  transition: 0.2s;
  text-shadow: 0 0 0.65px; }
.menu button {
  background: none;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  font-family: Montserrat-Regular; }
.menu button:after {
  display: block;
  left: 0;
  /*изменить на right:0;, чтобы изменить направление подчёркивания */
  width: 0;
  /*задаём длинну линии до наведения курсора*/
  height: 1px;
  /*задаём ширину линии*/
  background-color: #FFFFFF;
  /*задаём цвет линии*/
  content: "";
  transition: 0.3s;
  /*задаём время анимации*/ }
.menu button:hover:after,
.menu button:focus:after {
  width: 100%;
  /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/ }
.menu button:hover {
  transition: 0.2s;
  text-shadow: 0 0 0.65px; }

.header__burger {
  position: relative;
  width: 40px;
  height: 40px;
  border: none;
  background-color: #1A1B20;
  display: none; }
  .header__burger span {
    position: absolute;
    width: 30px;
    height: 3px;
    left: 5px;
    background-color: #FFFFFF;
    transition: 1.5s; }
  .header__burger span:nth-child(1) {
    transform: translateY(-10px); }
  .header__burger span:nth-child(3) {
    transform: translateY(10px); }

header.open .header__burger span:nth-child(1) {
  transform: rotate(45deg); }

header.open .header__burger span:nth-child(2) {
  opacity: 0; }

header.open .header__burger span:nth-child(3) {
  transform: rotate(135deg); }

.submit-application .submit-application--button {
  display: flex;
  padding: 1.25em 4em;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: #FFFFFF;
  cursor: pointer; }
.submit-application .submit-application--button:hover {
  background: #FFEEC3;
  transition: 0.2s; }

.popup {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(151, 151, 151, 0.05);
  backdrop-filter: blur(4px);
  top: 0;
  left: 0;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 3; }
  .popup .popup__body {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8.125em; }
  .popup .popup__form {
    position: relative;
    display: flex;
    width: 73.75em;
    padding: 3.75em 5em;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.25em;
    border-radius: 8px;
    background: #1A1B20;
    border: 2px solid #FFF; }
  .popup .popup__cross {
    position: absolute;
    top: 1.25em;
    right: 1.25em;
    cursor: pointer; }
  .popup .popup__content {
    display: flex;
    flex-direction: column;
    gap: 1.25em; }
  .popup .popup_content__inputs {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1.25em; }
    .popup .popup_content__inputs input {
      width: 30.625em;
      margin-top: 0.5em;
      outline: none; }
  .popup .popup__body_call .call {
    flex-direction: column; }
    .popup .popup__body_call .call select {
      width: 25%; }
    .popup .popup__body_call .call input {
      width: 100%; }
  .popup .popup__body_call p {
    font-size: 14px; }
  .popup .popup__body_call form {
    width: 34em; }
  .popup .popup__body_call .submit__button {
    width: 100%; }
  .popup .poop {
    display: flex;
    position: relative; }
    .popup .poop select {
      color: #FFFFFF;
      display: flex;
      height: 2.8125em;
      align-items: center;
      gap: 0.625em;
      align-self: stretch;
      border-radius: 4px 0 0 4px;
      border: 1px solid #979797;
      background: #22242A;
      margin-top: 8px;
      width: 18%;
      position: absolute;
      border-right: none;
      outline: none; }
    .popup .poop input {
      padding-left: 6.25em; }
  .popup input {
    color: #FFFFFF;
    display: flex;
    height: 2.8125em;
    padding: 0.9375em 1.25em;
    align-items: center;
    gap: 0.625em;
    align-self: stretch;
    border-radius: 4px;
    border: 1px solid #979797;
    background: #22242A; }
  .popup .popup__input p {
    font-size: 0.875em; }
  .popup .popup_content_inputs__comment p {
    font-size: 1.25em; }
  .popup .textarea {
    margin-top: 0.5em; }
  .popup textarea {
    color: #FFFFFF;
    display: flex;
    padding: 0.9375em 1.25em;
    align-items: center;
    gap: 0.625em;
    align-self: stretch;
    border-radius: 4px;
    border: 1px solid #979797;
    background: #22242A;
    width: 100%;
    height: 100%; }
  .popup .popup_content_inputs__file-button {
    display: flex;
    align-items: flex-start;
    gap: 2.5em; }
  .popup .file {
    display: flex;
    align-items: center;
    gap: 1.25em; }
    .popup .file label {
      display: flex;
      padding: 0.375em;
      justify-content: center;
      align-items: center;
      gap: 0.625em;
      border: 1px solid #979797;
      background: #22242A;
      cursor: pointer; }
    .popup .file p {
      font-size: 0.75em; }
  .popup .submit__button {
    width: 50%; }
    .popup .submit__button button {
      display: flex;
      padding: 18px 64px 20px 64px;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      border: 2px solid #FFFFFF;
      background: #FFFFFF;
      cursor: pointer; }
    .popup .submit__button button:hover {
      background: #FFEEC3;
      transition: 0.2s; }
    .popup .submit__button p {
      font-size: 0.75em;
      margin-top: 1.25em; }

body {
  background-color: #1A1B20;
  margin: auto;
  color: #FFFFFF;
  font-family: 'Montserrat-Regular';
  font-size: 16px; }

header {
  padding: 0.25em 8.125em;
  border-bottom: 1px solid #979797; }
  header .header--section {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  header .logo-img {
    flex-shrink: 0; }
  header .header-menu--list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5625em; }

main {
  padding: 0 8.125em;
  position: relative;
  overflow: hidden; }
  main section {
    display: flex;
    justify-content: space-between;
    padding: 3.75em 0 3.75em 0; }
    main section h1 {
      font-weight: 300; }
  main .main {
    padding-top: 7.5em; }
    main .main .description-text {
      display: flex;
      flex-direction: column;
      gap: 0.875em; }
      main .main .description-text p {
        width: 25.9375em; }
    main .main .submit-application {
      margin-top: 3.125em; }
    main .main .vertical-line--decor .line {
      width: 1px;
      height: 15.625em;
      background: #979797;
      margin: 3.125em 0 0 8.4375em; }
    main .main .stages {
      display: flex;
      flex-direction: column; }
    main .main .main-page-up {
      position: absolute;
      width: 56.5625em;
      top: 2em;
      right: 0;
      z-index: -1; }
    main .main .stages--text {
      display: flex;
      margin-top: 33.125em;
      gap: 3.75em;
      align-items: center;
      color: #A2A2A2; }
      main .main .stages--text .vertical-line {
        stroke-width: 1px;
        background-color: #979797;
        height: 1.875em;
        width: 1px;
        flex-shrink: 0; }
  main .advantages {
    display: flex;
    flex-direction: column; }
    main .advantages .horizontal-line--decor {
      height: 1px;
      background-color: #979797;
      margin: -7.5em 0 0 8.4375em;
      width: 37em; }
    main .advantages .vertical-line--decor {
      height: 1.5625em;
      width: 1px;
      background-color: #979797;
      margin: 0px 0px 0px 45.35em; }
    main .advantages .description {
      display: flex;
      justify-content: flex-end;
      margin-top: -4.125em; }
    main .advantages .main-page-center {
      position: absolute;
      left: -8em;
      width: 43.75em;
      height: 27.625em;
      margin-top: 0.77em;
      z-index: -1; }
    main .advantages .description-text {
      width: 35.625em; }
      main .advantages .description-text h2 {
        font-weight: 300; }
      main .advantages .description-text p {
        font-size: 0.875em;
        padding-top: 0.3125em; }
      main .advantages .description-text ul {
        padding-top: 0.3125em; }
      main .advantages .description-text li {
        font-size: 0.875em;
        list-style-type: disc;
        margin-left: 1.5625em; }
      main .advantages .description-text h4 {
        padding-top: 0.625em; }
    main .advantages .company-advantages {
      padding-top: 7.5em;
      justify-content: center;
      display: flex;
      gap: 2.5em; }
    main .advantages .advantage {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0.9375em 1.5625em;
      width: 20em;
      border-radius: 5px;
      border: 1px solid #979797; }
  main .partners {
    display: flex;
    flex-direction: column; }
    main .partners .logo-partners {
      display: grid;
      grid-column-gap: 8.75em;
      grid-row-gap: 3.125em;
      grid-template-columns: repeat(auto-fill, minmax(10.6875em, 1fr));
      margin-top: 3.125em; }
    main .partners .lines-decor {
      display: flex;
      flex-direction: row-reverse;
      margin-top: 2.5em; }
      main .partners .lines-decor .horizontal-line--decor {
        height: 1px;
        background-color: #979797;
        margin: 0em -8.125em 0em 0em;
        width: 71.875em; }
      main .partners .lines-decor .vertical-line--decor {
        height: 1.875em;
        width: 1px;
        background-color: #979797;
        margin: 0px 0px 0px 0em; }
  main .produce {
    display: flex;
    flex-direction: column;
    padding-top: 0; }
    main .produce h2 {
      margin: 0; }
    main .produce .directions {
      display: grid;
      grid-column-gap: 2.5em;
      grid-row-gap: 2.5em;
      grid-template-columns: repeat(auto-fill, minmax(22.5em, 1fr));
      margin-top: 3.125em; }
    main .produce .slogan__direction {
      display: flex;
      flex-direction: column;
      gap: 1.25em;
      width: 45em;
      padding: 3.75em 0 0 6.25em;
      position: relative;
      grid-column-start: 2;
      grid-column-end: 4; }
      main .produce .slogan__direction p {
        font-size: 0.875em; }
      main .produce .slogan__direction .lines-decor {
        position: absolute;
        margin-top: 10.9375em; }
      main .produce .slogan__direction .horizontal-line--decor {
        width: 53.25em;
        height: 1px;
        background-color: #979797;
        position: absolute;
        left: -3.125em; }
      main .produce .slogan__direction .vertical-line--decor {
        width: 1px;
        height: 5.625em;
        background-color: #979797;
        position: absolute;
        left: -3.125em; }
      main .produce .slogan__direction .horizontal-line-2--decor {
        width: 2.625em;
        height: 1px;
        background-color: #979797;
        position: absolute;
        right: 53.1875em;
        left: -5.6875em;
        top: 5.625em; }
    main .produce .direction {
      display: flex;
      flex-direction: column;
      height: 22.5em;
      width: 22.5em;
      justify-self: center; }
    main .produce a {
      display: flex;
      justify-content: center;
      align-items: center; }
      main .produce a button {
        color: #FFFFFF;
        margin-top: 1.5em;
        width: 22.9375em;
        height: 3.875em;
        padding: 0.625em 0;
        border-radius: 8px;
        border: 1px solid #979797;
        background: #22242A;
        cursor: pointer;
        transition: 0.2s; }
      main .produce a button:hover {
        background-color: #FFFFFF;
        color: #1A1B20; }
  main .decorative_elements {
    display: flex;
    flex-direction: column;
    position: relative; }
    main .decorative_elements .lines-decor {
      margin-left: 12.5em; }
      main .decorative_elements .lines-decor .vertical-line--decor {
        position: absolute;
        height: 1.25em;
        width: 1px;
        left: 50em;
        top: 2.55em;
        background-color: #979797; }
      main .decorative_elements .lines-decor .horizontal-line--decor {
        position: absolute;
        width: 37.5em;
        height: 1px;
        background-color: #979797; }
      main .decorative_elements .lines-decor .vertical-line-2--decor {
        position: absolute;
        height: 1.5625em;
        width: 1px;
        background-color: #979797; }
    main .decorative_elements .decorative_elements__main {
      display: flex;
      justify-content: space-between;
      margin-top: 3.125em;
      position: relative; }
    main .decorative_elements .decorative_elements__description {
      display: flex;
      flex-direction: column;
      gap: 1.25em;
      width: 43em; }
    main .decorative_elements .elements_main__headers {
      display: flex;
      flex-direction: column;
      gap: 1.25em; }
    main .decorative_elements .elements_main__paragraphs {
      display: flex;
      flex-direction: column;
      gap: 0.625em; }
    main .decorative_elements .elements_main__button {
      margin-top: 1.875em; }
      main .decorative_elements .elements_main__button button {
        display: flex;
        width: 367px;
        height: 62px;
        padding: 10px 0px;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        border: 1px solid #979797;
        background: #22242A;
        color: #FFFFFF;
        cursor: pointer;
        transition: 0.2s; }
      main .decorative_elements .elements_main__button button:hover {
        background-color: #FFFFFF;
        color: #1A1B20; }
    main .decorative_elements .decorative_elements__image {
      position: absolute;
      width: 41em;
      right: -8em; }
  main .works {
    display: flex;
    flex-direction: column;
    gap: 3.125em; }
    main .works iframe {
      width: 100%;
      height: 37.5em; }
    main .works .main__slider .swiper-slide {
      display: flex;
      justify-content: center; }
    main .works .main__slider .arrow {
      width: 2.5em;
      height: 2.5em;
      border-radius: 5px;
      background: #464A4C;
      transition: 0.2s; }
    main .works .main__slider svg {
      width: 0.75em; }
    main .works .main__slider .arrow:hover {
      background: #FFFFFF; }
      main .works .main__slider .arrow:hover #Line\ 1 {
        stroke: #1A1B20; }
    main .works .thumbs__slider {
      margin-top: 1.25em; }
      main .works .thumbs__slider .swiper-slide-thumb-active {
        opacity: .54; }

footer {
  padding: 3.75em 8.125em;
  border-top: 1px solid #979797; }
  footer .footer-section {
    display: flex;
    justify-content: space-between; }
  footer .information-column {
    display: flex;
    justify-content: space-between;
    gap: 15em; }
  footer .contacts-text {
    display: flex;
    flex-direction: column; }
  footer .contacts-text--list {
    padding-top: 2.5em;
    display: flex;
    flex-direction: column;
    gap: 0.625em; }
  footer .contacts-icons {
    padding-top: 4.375em;
    display: flex;
    gap: 1.875em; }
    footer .contacts-icons .contacts-icons--image {
      flex-shrink: 0; }
    footer .contacts-icons svg {
      width: 2.25em; }
    footer .contacts-icons svg:hover {
      fill: #FFEEC3;
      transition: 0.2s; }
      footer .contacts-icons svg:hover #Vector {
        fill: #FFEEC3;
        transition: 0.2s; }
  footer .catalog-text {
    display: flex;
    flex-direction: column; }
  footer .catalog-text--list {
    padding-top: 2.5em;
    display: flex;
    flex-direction: column;
    gap: 0.625em; }
  footer .big-logo-img {
    flex-shrink: 0; }
  footer .tagline {
    padding-top: 4.375em; }
  footer .request-phone {
    padding-top: 1.25em; }
  footer .request-phone--button {
    display: flex;
    padding: 1.125em 4em 1.25em 4em;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #FFFFFF;
    cursor: pointer; }
  footer .request-phone--button:hover {
    background: #FFEEC3;
    transition: 0.2s; }

@media (min-width: 1440px) {
  header {
    width: 1440px;
    margin: auto; }

  main {
    width: 1440px;
    margin: auto; }

  footer {
    width: 1440px;
    margin: auto; } }
@media (max-width: 1440px) {
  body {
    font-size: 15px; }

  main {
    padding: 0 5em; } }
@media (max-width: 1280px) {
  body {
    font-size: 14px; }

  main {
    padding: 0 6.875em; } }
@media (max-width: 1210px) {
  body {
    font-size: 13px; }

  main {
    padding: 0 4em; } }
@media (max-width: 1024px) {
  body {
    font-size: 11px; }

  main {
    padding: 0 5.625em; } }
@media (max-width: 900px) {
  body {
    font-size: 10px; }

  main {
    padding: 0 3.125em; } }
@media (max-width: 768px) {
  body {
    font-size: 9px; }

  main {
    padding: 0 3.125em; }

  header .logo {
    z-index: 2; }
  header .header__burger {
    display: block;
    z-index: 2; }
  header .header-menu {
    z-index: 1;
    position: absolute;
    right: 0em;
    top: -20em;
    background-color: #1A1B20;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 8em 0em 0em 0em;
    padding: 0.5em;
    transition: 2s;
    opacity: 0; }
  header .header-menu--list {
    display: flex;
    flex-direction: column;
    gap: 0.2em; }

  header.open .header-menu {
    transform: translateY(20em);
    opacity: 1; } }

/*# sourceMappingURL=style.css.map */
