//ПЕРЕМЕННЫЕ

//Цвета страницы

//Акцентный цвет
$action-color: #FFEEC3;

//Фон
$background--color: #1A1B20;
$background-input--color: #22242A;
$background-icon--color: #464A4C;

//Кнопки
$button--color: #2E2E2E;
$button-accent--color: #FFFFFF;

//Текст
$text--color: #FFFFFF;
$text-dark--color: #1A1B20;
$text-support--color: #A2A2A2;

//Обводка
$stroke-additional--color: #565656;
$stroke-main--color: #979797;
$stroke-accent--color: #FFFFFF;

//Иконки
$icon-inactive--color: #7F7F7F;
$icon-active--color: #FFFFFF;

//Шрифты

//Merriweather
@font-face {
  font-family: "Merriweather";
  src: url('./fonts/Merriweather-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

//Montserrat
@font-face {
  font-family: "Montserrat-Medium";
  src: url('./fonts/Montserrat-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url('./fonts/Montserrat-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-SemiBold";
  src: url('./fonts/Montserrat-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

//Радиус кнопок

$button--radius: 8px;
$table--radius: 5px;
$icon-color--radius: 5px;
$icon-texture--radius: 5px;
$icon-arrow--radius: 3.75px;
$input--radius: 5px;

//Время трансформации
$transition-duration: 0.2s;


h1 {
  font-size: 3.4375em;
  font-family: 'Merriweather';
  text-transform: uppercase;
}

h2 {
  font-size: 2.25em;
  font-family: 'Merriweather';
  text-transform: uppercase;
  font-weight: 300;
}

h3 {
  font-size: 1.75em;
  font-family: 'Merriweather';
  text-transform: uppercase;
}

h4 {
  font-size: 1.125em;
  font-family: 'Montserrat-SemiBold';
}

button {
  font-family: 'Montserrat-Medium';
}

li, ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: $text--color;
}

.menu {

  li {
    display: flex;
    justify-content: flex-start;
  }

  a:after {
    display: block;
    left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
    width: 0; /*задаём длинну линии до наведения курсора*/
    height: 1px; /*задаём ширину линии*/
    background-color: $text--color; /*задаём цвет линии*/
    content: "";
    transition: 0.3s; /*задаём время анимации*/
  }

  a:hover:after,
  a:focus:after {
    width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
  }

  a:hover {
    transition: $transition-duration;
    text-shadow: 0 0 .65px
  }

  button {
    background: none;
    color: $text--color;
    border: none;
    cursor: pointer;
    font-family: Montserrat-Regular;
  }

  button:after {
    display: block;
    left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
    width: 0; /*задаём длинну линии до наведения курсора*/
    height: 1px; /*задаём ширину линии*/
    background-color: $text--color; /*задаём цвет линии*/
    content: "";
    transition: 0.3s; /*задаём время анимации*/
  }

  button:hover:after,
  button:focus:after {
    width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
  }

  button:hover {
    transition: $transition-duration;
    text-shadow: 0 0 .65px
  }
}

.header__burger {
  position: relative;
  width: 40px;
  height: 40px;
  border: none;
  background-color: $background--color;
  display: none;

  span {
    position: absolute;
    width: 30px;
    height: 3px;
    left: 5px;
    background-color: $text--color;
    transition: 1.5s;
  }

  span:nth-child(1) {
    transform: translateY(-10px);
  }

  span:nth-child(3) {
    transform: translateY(10px);
  }
}

header.open .header__burger span:nth-child(1) {
  transform: rotate(45deg);
}

header.open .header__burger span:nth-child(2) {
  opacity: 0;
}

header.open .header__burger span:nth-child(3) {
  transform: rotate(-45deg);
}

.submit-application {
  .submit-application--button {
    display: flex;
    padding: 1.25em 4em;
    justify-content: center;
    align-items: center;
    border-radius: $button--radius;
    background: $button-accent--color;
    cursor: pointer;
  }

  .submit-application--button:hover {
    background: $action-color;
    transition: $transition-duration;
  }
}

.popup {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(151, 151, 151, 0.05);
  backdrop-filter: blur(4px);
  top: 0;
  left: 0;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 3;

  .popup__body {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8.125em;
  }

  .popup__form {
    position: relative;
    display: flex;
    width: 73.75em;
    padding: 3.75em 5em;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.25em;
    border-radius: 8px;
    background: $background--color;
    border: 2px solid #FFF;
  }

  .popup__cross {
    position: absolute;
    top: 1.25em;
    right: 1.25em;
    cursor: pointer;
  }

  .popup__content {
    display: flex;
    flex-direction: column;
    gap: 1.25em;
  }

  .popup_content__inputs {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1.25em;

    input {
      width: 30.625em;
      margin-top: 0.5em;
      outline: none;
    }
  }

  .popup__body_call {

    .call {
      flex-direction: column;

      select {
        width: 25%;
      }

      input {
        width: 100%;
      }
    }

    p {
      font-size: 14px;
    }

    form {
      width: 34em;
    }

    .submit__button {
      width: 100%;
    }
  }


  .poop {
    display: flex;
    position: relative;

    select {
      color: #FFFFFF;
      display: flex;
      height: 2.8125em;
      align-items: center;
      gap: 0.625em;
      align-self: stretch;
      border-radius: 4px 0 0 4px;
      border: 1px solid $stroke-main--color;
      background: $background-input--color;
      margin-top: 8px;
      width: 18%;
      position: absolute;
      border-right: none;
      outline: none;
    }

    input {
      padding-left: 6.25em;

    }
  }

  input {
    color: $text--color;
    display: flex;
    height: 2.8125em;
    padding: 0.9375em 1.25em;
    align-items: center;
    gap: 0.625em;
    align-self: stretch;
    border-radius: 4px;
    border: 1px solid $stroke-main--color;
    background: $background-input--color;
  }

  .popup__input {
    p {
      font-size: 0.875em;
    }
  }

  .popup_content_inputs__comment {
    p {
      font-size: 1.25em;
    }
  }

  .textarea {
    margin-top: 0.5em;
  }

  textarea {
    color: $text--color;
    display: flex;
    padding: 0.9375em 1.25em;
    align-items: center;
    gap: 0.625em;
    align-self: stretch;
    border-radius: 4px;
    border: 1px solid $stroke-main--color;
    background: $background-input--color;
    width: 100%;
    height: 100%;
  }

  .popup_content_inputs__file-button {
    display: flex;
    align-items: flex-start;
    gap: 2.5em;
  }

  .file {
    display: flex;
    align-items: center;
    gap: 1.25em;

    label {
      display: flex;
      padding: 0.375em;
      justify-content: center;
      align-items: center;
      gap: 0.625em;
      border: 1px solid $stroke-main--color;
      background: $background-input--color;
      cursor: pointer;
    }

    p {
      font-size: 0.75em;
    }
  }

  .submit__button {
    width: 50%;

    button {
      display: flex;
      padding: 18px 64px 20px 64px;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      border: 2px solid #FFFFFF;
      background: #FFFFFF;
      cursor: pointer;
    }

    button:hover {
      background: $action-color;
      transition: $transition-duration;
    }

    p {
      font-size: 0.75em;
      margin-top: 1.25em;
    }
  }

}

body {
  background-color: $background--color;
  //width: 1440px;
  //margin: 0 130px;
  margin: auto;
  color: $text--color;
  font-family: 'Montserrat-Regular';
  font-size: 16px;
}

//-------------------------

//header

header {
  padding: 0.25em 8.125em;
  border-bottom: 1px solid $stroke-main--color;

  .header--section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo-img {
    flex-shrink: 0;
  }

  .header-menu--list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5625em;
  }
}

main {
  padding: 0 8.125em;
  //padding: 0 130px;
  position: relative;
  overflow: hidden;

  section {
    display: flex;
    justify-content: space-between;
    padding: 3.75em 0 3.75em 0;

    h1 {
      font-weight: 300;
    }
  }

  .main {
    padding-top: 7.5em;

    .description-text {
      display: flex;
      flex-direction: column;
      gap: 0.875em;

      p {
        width: 25.9375em;
      }
    }

    .submit-application {
      margin-top: 3.125em;
    }

    .vertical-line--decor {

      .line {
        width: 1px;
        height: 15.625em;
        background: $stroke-main--color;
        margin: 3.125em 0 0 8.4375em;
      }

    }

    .stages {
      display: flex;
      flex-direction: column;
    }

    .main-page-up {
      position: absolute;
      width: 56.5625em;
      top: 2em;
      right: 0;
      z-index: -1;
    }

    .stages--text {
      display: flex;
      margin-top: 33.125em;
      gap: 3.75em;
      align-items: center;
      color: $text-support--color;

      .vertical-line {

        stroke-width: 1px;
        background-color: $stroke-main--color;
        height: 1.875em;
        width: 1px;
        flex-shrink: 0;
      }
    }
  }

  .advantages {
    display: flex;
    flex-direction: column;


    .horizontal-line--decor {
      height: 1px;
      background-color: $stroke-main--color;
      margin: -7.5em 0 0 8.4375em;
      width: 37em;
    }

    .vertical-line--decor {
      height: 1.5625em;
      width: 1px;
      background-color: $stroke-main--color;
      margin: 0px 0px 0px 45.35em;
    }


    .description {
      display: flex;
      justify-content: flex-end;
      margin-top: -4.125em;
    }

    .main-page-center {
      position: absolute;
      left: -8em;
      width: 43.75em;
      height: 27.625em;
      margin-top: 0.77em;
      z-index: -1;
    }

    .description-text {
      width: 35.625em;

      h2 {
        font-weight: 300;
      }

      p {
        font-size: 0.875em;
        padding-top: 0.3125em;
      }

      ul {
        padding-top: 0.3125em;
      }

      li {
        font-size: 0.875em;
        list-style-type: disc;
        margin-left: 1.5625em;
      }

      h4 {
        padding-top: 0.625em;
      }
    }

    .company-advantages {
      padding-top: 7.5em;
      justify-content: center;
      display: flex;
      gap: 2.5em;
    }

    .advantage {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0.9375em 1.5625em;
      width: 20em;
      border-radius: 5px;
      border: 1px solid $stroke-main--color;
    }
  }

  .partners {
    display: flex;
    flex-direction: column;

    .logo-partners {
      display: grid;
      grid-column-gap: 8.75em;
      grid-row-gap: 3.125em;
      grid-template-columns: repeat(auto-fill, minmax(10.6875em, 1fr));
      margin-top: 3.125em;
    }

    .lines-decor {
      display: flex;
      flex-direction: row-reverse;
      margin-top: 2.5em;

      .horizontal-line--decor {
        height: 1px;
        background-color: $stroke-main--color;
        margin: 0em -8.125em 0em 0em;
        width: 71.875em;
      }

      .vertical-line--decor {
        height: 1.875em;
        width: 1px;
        background-color: $stroke-main--color;
        margin: 0px 0px 0px 0em;
      }
    }
  }

  .produce {
    display: flex;
    flex-direction: column;
    padding-top: 0;

    h2 {
      margin: 0;
    }

    .directions {
      display: grid;
      grid-column-gap: 2.5em;
      grid-row-gap: 2.5em;
      grid-template-columns: repeat(auto-fill, minmax(22.5em, 1fr));
      margin-top: 3.125em;
    }

    .slogan__direction {
      display: flex;
      flex-direction: column;
      gap: 1.25em;
      width: 45em;
      padding: 3.75em 0 0 6.25em;
      position: relative;
      grid-column-start: 2;
      grid-column-end: 4;

      p {
        font-size: 0.875em;
      }

      .lines-decor {
        position: absolute;
        margin-top: 10.9375em;
      }

      .horizontal-line--decor {
        width: 53.25em;
        height: 1px;
        background-color: $stroke-main--color;
        position: absolute;
        left: -3.125em;
      }

      .vertical-line--decor {
        width: 1px;
        height: 5.625em;
        background-color: $stroke-main--color;
        position: absolute;
        left: -3.125em;
      }

      .horizontal-line-2--decor {
        width: 2.625em;
        height: 1px;
        background-color: $stroke-main--color;
        position: absolute;
        right: 53.1875em;
        left: -5.6875em;
        top: 5.625em;
      }
    }

    .direction {
      display: flex;
      flex-direction: column;
      height: 22.5em;
      width: 22.5em;
      justify-self: center;
    }

    a {
      display: flex;
      justify-content: center;
      align-items: center;


      button {
        color: $text--color;
        margin-top: 1.5em;
        width: 22.9375em;
        height: 3.875em;
        padding: 0.625em 0;
        border-radius: $button--radius;
        border: 1px solid $stroke-main--color;
        background: $background-input--color;
        cursor: pointer;
        transition: $transition-duration;
      }

      button:hover {
        background-color: $button-accent--color;
        color: $text-dark--color;
      }
    }
  }

  .decorative_elements {

    display: flex;
    flex-direction: column;
    position: relative;

    .lines-decor {
      margin-left: 12.5em;

      .vertical-line--decor {
        position: absolute;
        height: 1.25em;
        width: 1px;
        left: 50em;
        top: 2.55em;
        background-color: $stroke-main--color;
      }

      .horizontal-line--decor {
        position: absolute;
        width: 37.5em;
        height: 1px;
        background-color: $stroke-main--color;
      }

      .vertical-line-2--decor {
        position: absolute;
        height: 1.5625em;
        width: 1px;
        background-color: $stroke-main--color;
      }
    }

    .decorative_elements__main {
      display: flex;
      justify-content: space-between;
      margin-top: 3.125em;
      position: relative;
    }

    .decorative_elements__description {
      display: flex;
      flex-direction: column;
      gap: 1.25em;
      width: 43em;
    }

    .elements_main__headers {
      display: flex;
      flex-direction: column;
      gap: 1.25em;
    }

    .elements_main__paragraphs {
      display: flex;
      flex-direction: column;
      gap: 0.625em;
    }

    .elements_main__button {
      margin-top: 1.875em;

      button {
        display: flex;
        width: 367px;
        height: 62px;
        padding: 10px 0px;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        border: 1px solid $stroke-main--color;
        background: $background-input--color;
        color: $text--color;
        cursor: pointer;
        transition: $transition-duration;
      }

      button:hover {
        background-color: $button-accent--color;
        color: $text-dark--color;
      }
    }

    .decorative_elements__image {
      position: absolute;
      width: 41em;
      right: -8em;
    }

  }

  .works {
    display: flex;
    flex-direction: column;
    gap: 3.125em;

    iframe {
      width: 100%;
      height: 37.5em;
    }

    .main__slider {

      .swiper-slide {
        display: flex;
        justify-content: center;
      }

      .arrow {
        width: 2.5em;
        height: 2.5em;
        border-radius: 5px;
        background: $background-icon--color;
        transition: $transition-duration;
      }

      svg {
        width: 0.75em;
      }

      .arrow:hover {
        background: $button-accent--color;

        #Line\ 1 {
          stroke: $text-dark--color;
        }
      }

    }

    .thumbs__slider {
      margin-top: 1.25em;

      .swiper-slide-thumb-active {
        opacity: .54;
      }
    }
  }
}

footer {
  padding: 3.75em 8.125em;
  border-top: 1px solid $stroke-main--color;

  .footer-section {
    display: flex;
    justify-content: space-between;
  }

  .information-column {
    display: flex;
    justify-content: space-between;
    gap: 15em;
  }

  .contacts-text {
    display: flex;
    flex-direction: column;
  }

  .contacts-text--list {
    padding-top: 2.5em;
    display: flex;
    flex-direction: column;
    gap: 0.625em;
  }

  .contacts-icons {
    padding-top: 4.375em;
    display: flex;
    gap: 1.875em;

    .contacts-icons--image {
      flex-shrink: 0;
    }

    svg {
      width: 2.25em;
    }

    svg:hover {
      fill: $action-color;
      transition: $transition-duration;

      #Vector {
        fill: $action-color;
        transition: $transition-duration;
      }
    }
  }

  .catalog-text {
    display: flex;
    flex-direction: column;
  }

  .catalog-text--list {
    padding-top: 2.5em;
    display: flex;
    flex-direction: column;
    gap: 0.625em;
  }

  .big-logo-img {
    flex-shrink: 0;
  }

  .tagline {
    padding-top: 4.375em;
  }

  .request-phone {
    padding-top: 1.25em;
  }

  .request-phone--button {
    display: flex;
    padding: 1.125em 4em 1.25em 4em;
    justify-content: center;
    align-items: center;
    border-radius: $button--radius;
    background: $button-accent--color;
    cursor: pointer;
  }

  .request-phone--button:hover {
    background: $action-color;
    transition: $transition-duration;
  }
}


@media (min-width: 1440px) {
  header {
    width: 1440px;
    margin: auto;
  }

  main {
    width: 1440px;
    margin: auto;
  }

  footer {
    width: 1440px;
    margin: auto;
  }
}

@media (max-width: 1440px) {

  body {
    font-size: 15px;
  }

  main {
    padding: 0 5em;
  }
}

@media (max-width: 1280px) {
  body {
    font-size: 14px;
  }

  main {
    padding: 0 6.875em;
  }
}

@media (max-width: 1210px) {

  body {
    font-size: 13px;
  }

  main {
    padding: 0 4em;
  }
}

@media (max-width: 1024px) {
  body {
    font-size: 11px;
  }

  main {
    padding: 0 5.625em;
  }
}


@media (max-width: 900px) {
  body {
    font-size: 10px;
  }

  main {
    padding: 0 3.125em;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 9px;
  }

  main {
    padding: 0 3.125em;
  }

  header {

    .logo {
      z-index: 2;
    }

    .header__burger {
      display: block;
      z-index: 2;
    }

    .header-menu {
      z-index: 1;
      position: absolute;
      right: 0em;
      top: -20em;
      background-color: #1A1B20;
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 8em 0em 0em 0em;
      padding: 0.5em;
      transition: 2s;
      opacity: 0;
    }

    .header-menu--list {
      display: flex;
      flex-direction: column;
      gap: 0.2em;
    }
  }

  header.open .header-menu {
    transform: translateY(20em);
    opacity: 1;
  }
}

@media (max-width: 480px) {
  body {
    //font-size: 5px;

    .main {
      display: flex;
      flex-direction: column;
      padding-top: 3.33em;

      .vertical-line--decor {
        display: none;
      }

      .description-text  {
        h1 {
          //font-size: 7.5em;
        }

        p {
          //font-size: 3em;
        }
      }

      .submit-application {
        display: none;
      }

      .stages {
        display: flex;
        flex-direction: column;
        gap: 2em;
        .main-page-up {
          position: relative;
          top: 0;
          right: 0;
          width: 100%;
          margin-top: 1.1em;
        }

        .stages--text {
          display: flex;
          justify-content: center;
          margin-top: 0;
          //font-size: 2em;
        }
      }
    }

    .advantages {
      //font-size: 1.5em;

      .lines-decor {
        display: none;
      }

      .description {
        display: flex;
        flex-direction: column-reverse;
      }

      .main-page-center {
        position: relative;
        left: 0;
      }

      .company-advantages  {
        flex-direction: column;
        align-items: center;
        padding-top: 2.5em;
        gap: 1.5em;
        .advantage {
          width: 100%;
        }
      }
    }

    .partners {
      //font-size: 1.5em;

      .logo-partners {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 1.5em;
      }

      .lines-decor {
        display: none;
      }
    }
  }
}

@media (max-width: 320px) {
  body {
    font-size: 4px;
  }
}









